$backGroundColor: grey;
$backGroundHighlightColor: lightgrey;
$navFontColor: white;

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-image: url("/assets/img/task_background.jpg");
    background-size: 100%;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float: left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: $backGroundColor;
    border-bottom: 2px solid black;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: $navFontColor;
    font-size: 1.3em;
    float: right;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: $navFontColor;
    padding: 5px;
    border-radius: 4px;
    background-color: $backGroundColor;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    background-color: $backGroundHighlightColor;
    color: black;
    transition: background-color 0.4s ease, color 0.4s ease;
}

#loginWrapper {
    display: grid;
    grid-template-areas: 
        "ad1 calendar ad2"
        "ad1 content ad2";
    padding-top: 100px; 

    #ad1 {
        grid-area: ad1;
        width: 192px;
        height: 512px;
        margin: auto;
        grid-row: span 2;
    }
    #ad2 {
        grid-area: ad2;
        width: 192px;
        height: 512px;
        margin: auto;
    }
    #calendar {
        grid-area: calendar;
        margin: auto;
    }
    #content {
        grid-area: content;
        padding-top: 80px;
    }
}

#appWrapper { 
    display: grid;
    grid-template-areas: 
        "ad1 makeTask ad2"
        "ad1 tasks ad2";

    #ad1 {
        grid-area: ad1;
        width: 192px;
        height: 512px;
        margin: auto;
    }
    #ad2 {
        grid-area: ad2;
        width: 192px;
        height: 512px;
        margin: auto;
    }
    #makeTask {
        grid-area: makeTask;
    }
    #tasks {
        grid-area: tasks;
    }
}

.taskForm {
    background-color: $backGroundColor;
    border: 2px solid black;
    display: grid;
    grid-template-areas: 
        "label input"
        "label input"
        "label input"
        "blank submit";
    width: 80%;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    row-gap: 4px;
}

.taskForm label {
    display: inline-block;
    width: 100px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: $navFontColor;
}

#loginForm > *, #signupForm > * {
    margin-top: 8px;
}

#changePassForm {
    background-color: $backGroundColor;
    border: 2px solid black;
    display: grid;
    grid-template-areas: 
        "label input"
        "label input"
        "label input"
        "label input"
        "blank submit";
    width: 80%;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    row-gap: 4px;
    
    label {
        display: inline-block;
        width: 150px;
        margin-left: 10px;
        font-size: 1.2em;
        float: left;
        color: $navFontColor;
    }
}

.makeTaskSubmit, .changePassSubmit {
    grid-area: submit;
    justify-self: end;
    transition: background-color 0.4s ease;
    width: 90px;
    background-color: black;
    border-radius: 2px;
    color: white;
}

.makeTaskSubmit:link, .makeTaskSubmit:visited, .makeTaskSubmit:hover, .makeTaskSubmit:active {
    color: white;
}

.makeTaskSubmit:hover, .changePassSubmit:hover {
    transition: background-color 0.4s ease, color 0.4s ease;
    background-color: white;
    color: black;
}

.mainForm {
    margin: 0 auto;
    font-size: 1.2em;
    width: 300px;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: $backGroundColor;
    border-radius: 6px;
    border-color: black;
    padding: 3px 0px;
    color: white;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease, border-color 0.4s ease, color 0.4s ease;
    background-color: $backGroundHighlightColor;
    border-color: $backGroundColor;
    color: black;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

#taskMessage {
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#taskMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#task {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#tasks {
    width: 75%;
    min-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
}

.taskList {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.task {
    width: 30%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: $backGroundColor;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto auto auto;
    opacity: 95%;
}

.task:hover {
    transition: border-color 0.2s ease-out, background-color 2.6s ease-out;
    border-color: $backGroundColor;
    background-color: $backGroundHighlightColor;
}

img.taskFace {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

h3.emptyTask {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}